body {
    background-color: #e4e4e4; /*#f8f9fa or #f3f3f3*/
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 48px;
    color: white;
}

nav {
    display: none;
}

.mobile-menu {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    height: 100vh;
    width: 20vw;
    min-width: 270px;
    background-color: #3445b4;
    box-shadow: 4px 1px 5px rgba(0, 0, 0, 0.1);
    display: grid;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
}

.title {
    margin-top: 30px;
    justify-self: center;
}

.info {
    justify-self: center;
}

.info-disp {
    background-color: rgb(59, 78, 198);
    padding: 15px 15px 15px 15px;
    height: max-content;
    width: max-content;
    font-size: 18px;
    color: white;
}

.book-options-txt, .storage-options-txt, .info-txt {
    border-bottom: 2px rgba(255, 255, 255, 0.1);
    border-bottom-style: solid;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 24px;
}

.book-options {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.storage-options {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer {
    color: rgba(255,255,255,.5);
    bottom: 30px;
    align-self: end;
    margin-bottom: 20px;
}

.footer > a {
    color: rgba(255,255,255,.5);
}

.stmt-disp {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-bottom: 2px rgba(255, 255, 255, 0.1);
    border-bottom-style: solid;
}

.books-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-content: space-around;
    grid-auto-flow: row;
    margin: 20px;
}


.book {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/08/Miguel_de_Cervantes_%281605%29_El_ingenioso_hidalgo_Don_Quixote_de_la_Mancha.png);
    background-size: cover;
    width: 270px;
    height: 330px;
    border-radius: 10px;
    padding: 32px 0 0;
    transition: transform 500ms ease;
    overflow: hidden;
    justify-self: center;
}

.book-content {
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 0.4) 20%, hsl(0 0% 0% / 0.8));
}

.book-content > p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.book-content > button {
    width: max-content;
    height: 38px;
    margin-top: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 2px;
    color: white;
}

#remove-book {
    background-color: rgb(228, 26, 103);
    cursor: pointer;
}

#remove-book:hover {
    background-color: rgb(206, 0, 79);
}

#read-book {
    background-color: #33C3F0;
    cursor: pointer;
}

#read-book:hover {
    background-color: rgb(1, 166, 216);
}

.modal-wrap {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    height: 80vh;
    width: 40vw;
    min-height: 300px;
    min-width: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal h3 {
    font-size: 24px;
}

.modal button {
    width: 90px;
    height: 38px;
    font-size: 16px;
    border: 0px;
    border-radius: 2px;
    color: white;
    margin-bottom: 20px;
}

.modal label {
    align-self: flex-start;
}

#add-book-btn {
    margin-right: 20px;
    background-color: #009e22;
    cursor: pointer;
}

#add-book-btn:hover {
    background-color: #01801d;
}

#cancel-btn {
    background-color: #F45B69;
    cursor: pointer;
}

#cancel-btn:hover {
    background-color: #e43342;
}

.modal input[type="text"],  input[type="url"], input[type="number"]{
    min-width: 208px;
    width: 30vw;
    height: 40px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 3px;
}

.modal input:focus {
    outline: none;
}

@media (hover) {
    .book:hover, .book:focus-within {
        transform: scale(1.05);
    }

    .book-content {
        transform: translateY(55%);
        transition: transform 500ms ease;
    }

    .book:hover > .book-content, .book:focus-within .book-content {
        transform: translateY(0%);
    }
    
    .book-content > *:not(.book-title, .book-author) {
        opacity: 0;
        transition: transform 500ms ease;
        transition: opacity 500ms linear;
    }
    
    .book:hover .book-content > *:not(.book-title, .book-author),
    .book:focus-within .book-content > *:not(.book-title, .book-author) {
        opacity: 1;
        transition: transform 500ms ease;
        transition-delay: 250ms;
    }
}

@media only screen and (max-width: 1800px) {
    .books-container {
      grid-template-columns: repeat(4, 1fr);
    }
}
  
@media only screen and (max-width: 1460px) {
    .books-container {
      grid-template-columns: repeat(3, 1fr);
    }
}
  
@media only screen and (max-width: 1160px) {
    .books-container {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 890px) {
    .books-container {
      grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 589px) {
    .modal {
        margin-top: 100px;
    }

    .books-container {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .sidebar {
        display: none;
    }

    .book {
        max-width: 240px;
    }

    nav {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        justify-content: space-between;
        background-color: rgb(59, 78, 198);
        box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.1);
    }

    .title-mobile {
        align-self: center;
        margin-left: 30px;
    }

    .burger-menu {
        align-self: center;
        margin-right: 30px;
        height: 55px;
        width: 55px;
        display: flex;
        justify-content: center;
    }

    .burger-btn {
        align-self: center;
        height: 6px;
        width: 45px;
        background-color: white;
    }

    .burger-btn::after,
    .burger-btn::before {
        content: '';
        position: absolute;
        height: 6px;
        width: 45px;
        background-color: white;
        transition: all 100ms ease-in-out;
    }

    .burger-btn::after {
        transform: translateY(15px);
    }

    .burger-btn::before {
        transform: translateY(-15px);
    }

    /* Burger-Menu Animation */
    .mobile-menu.show-menu {
        display: grid;
        height: calc(100vh - 100px);
        width: 100vw;
        background-color: #3445b4;
        display: grid;
        justify-content: space-evenly;
    }

    .info {
        margin-top: 20px;
    }

    body.hidden-overflow {
        overflow: hidden;
    }

    .burger-menu.open .burger-btn {
        background: transparent;
    }

    .burger-menu.open .burger-btn::before {
        transform: rotate(45deg);
        transition: all 100ms ease-in-out;
    }

    .burger-menu.open .burger-btn::after {
        transform: rotate(-45deg);
        transition: all 100ms ease-in-out;
    }
}

@media only screen and (max-width: 555px) {
    .book {
      transform: scale(0.95)
    }
}

@media only screen and (max-width: 560px) and (hover){
    .book:hover, .book:focus-within {
        transform: scale(1);
    }
}

@media only screen and (max-width: 505px) and (hover: none){
    .book {
      transform: scale(0.90);
      width: auto;
      height: max-content;
    }
}

@media only screen and (max-width: 505px) and (hover){
    .books-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        transform: scale(1);
    }
}

@media only screen and (max-width: 375px) {
    .books-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .book {
        transform: scale(1);
    }
}

@media only screen and (max-width: 375px) and (hover){
    .book:hover, .book:focus-within {
        transform: scale(1.05);
    }
}